.banner {
    width: 100%;
    height: 200px;
  }
  .font {
    font-family: alatsi;
  }
  .card-beranda {
    box-shadow: 0 10px 8px 0 #003b46;
    transition: 0.3s;
    border-radius: 5px 5px;
    height: 400px;
    
  }
  
  .card-beranda:hover {
    transform: scale(1.05);
    box-shadow: 0 16px 32px 0 #07575b;
    background-color: #2358b3;
    color: white;
  }
  
  .galery{
    width: 25rem;
  }
  
  .primary:hover {
    background-color: aqua;
  }
  
  .bg-beranda {
    background: linear-gradient(hsl(240, 84%, 65%), hsl(192, 46%, 90%));
  }
  
  .img-beranda{
    height: 200px;
    border-radius: 5px 50px 5px 50px;
  }
  
  .justify {
    text-align: justify;
  }
  
  .footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: hwb(0 22% 77%);
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-align: justify;
  }
  
  .text-white {
    color: aliceblue;
    font-size: 20px;
  }
  
  @font-face {
    font-family: "alatsi";
    src: url(../font/Alatsi-Regular.ttf);
  }
  
  .margin-navbar{
    justify-content: space-evenly;
  }
  
  @media only screen and (min-width: 1024px ) {
    .card-beranda {
      width: 15rem;
    }
  }
  
  .kepala-bagian{
    width: 400px;
    height: auto;
  }