.card-news {
    margin: 20px;
    align-items: center;
    width: 20rem;
    height: auto;
  }
  
  .card-body {
    width: auto;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card-image {
    background: url("../assets/images/bg/navy.jpg");
    width: 100%;
    height: 200px;
  }