.card-news {
    margin: 20px;
    align-items: center;
    width: 20rem;
    height: auto;
    box-shadow: 2px 5px 6px grey;
  }
  
  .card-body {
    width: auto;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
  }